body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

.intro {
  background-image: url('istockphoto-613111906-612x612.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.center {
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 50px 50px;
  border-radius: 50px;
  margin: 100px auto;
  text-align: center;
}

#username, #password {
  width: 75%;
  padding: 12px 12px;
  border: none;
  border-radius: 12px;
  background-color: rgba(190, 231, 255);
}

#signup, #login {
  width: 75px;
  border: none;
  background-color:rgba(190, 231, 255);
  border-radius: 4px;
}

#signup:hover, #login:hover {
  cursor: pointer;
  background-color: rgb(163, 215, 245);
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #1e2a38;
  position: fixed;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 15px;
  color: white;
  background: none;
  border: none;
  text-align: left;
}

.sidebar button:hover {
    background-color: rgba(0, 0, 128, 0.685);
    cursor: pointer;
}

.main {
  margin-left: 200px;
  padding: 20px;
}

#about {
  text-align: center;
}

#WHAT {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  background-color:rgba(199, 196, 208, 0.685);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#person {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  background-color:rgba(199, 196, 208, 0.685);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  width: 220px;
  min-height: 120px;
}

#list, #homeList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
  margin-top: 100px;
}

.error {
  width: 75%;
  padding: 5px;
  font-size:12px;
  margin-top: 2px;
  margin-inline: auto;
  background-color: rgb(248, 201, 201);
  border-radius: 25px;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.error.active{
  opacity: 1;
  pointer-events: auto;
}

.hint {
  padding: 5px;
  width: 75%;
  font-size: 12px;
  margin-top: 2px;
  margin-inline: auto;
  background-color: rgb(180, 255, 180);
  border: none;
  border-radius: 25px;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.hint.active {
  opacity: 1;
  pointer-events: auto;
}

#pre_form {
  margin-top: 50px;
  width: 50%;
  border: none;
  background-color: white;
  border-radius: 25px;
  margin: 50px auto;
  width: 227px;
  height: auto;
  padding: 15px 10px;
  text-align: center;
}

#name {
  border: none;
  background-color: lavender;
  margin-inline: none;
  padding: 5px 5px;
  border-radius: 25px;
  margin: 4px auto;
}

#dosage {
  border: none;
  background-color: lavender;
  padding: 5px 5px;
  border-radius: 25px;
  margin: 4px auto;
}

#type {
  border: none;
  background-color: lavender;
  padding: 5px 5px;
  border-radius: 25px;
  margin: 4px auto;
}

#value {
  border: none;
  background-color: lavender;
  padding: 5px 5px;
  border-radius: 25px;
  margin: 4px auto;
}

#add {
  border: none;
  background-color: lavender;
  padding: 5px 5px;
  border-radius: 25px;
  width: 35%;
}

#add:hover {
  cursor: pointer;
}

.main {
  background-color:rgb(190, 231, 255);
  background-position: center top;
  background-size: cover;
  min-height: 100dvh;
}